body{
    background-image: linear-gradient(to left, skyblue, turquoise);
}
h1{
    
}

.contact{
    max-width: 400px;
    max-height: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 20px;
    align-self: center;
    margin-left: 675px;
    background-color: cyan;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input.sub{
    width: 370px;
}

input.submit{
    margin-left: 40%;
}

textarea{
    width: 370px;
    height: 150px;
}
/* input.sub{
    width: 370px;
} */

.form-container{
    max-width: 25%;
    margin-left: 350px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
}


iframe{
    order: 2;
    margin-left: 70%;
    
    height: 300px;
    width: 350px;
}
